* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2rem 1rem;
  background-color: #F2F2F2
}
.header {
  height:50px;
}
.header img {
  float: left;
  width: 30px;
  height: auto;
}
/* unvisited link */
a:link {
  color: #0C6717;
}

/* visited link */
a:visited {
  color: #0C9617;
}

/* mouse over link */
a:hover {
  color: rgb(7, 207, 23);
}

/* selected link */
a:active {
  color: #0C6717;
}

.header h3 {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 1.1rem;
  font-family: 'Courier New', Courier, monospace
}